
.calculator-container{
    background-color: transparent;
    width: 500px;
    height: 520px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid black;
}

.display {
    height: 150px;
    background-color: transparent;
    border: 2px solid black;
}

.A {
    background: lightgoldenrodyellow;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 70px;   
}

.btn{
    flex: 1;
    margin: 5px;
    text-align: center;
    border: 2px solid #000; /* Border color and width */
    border-radius: 5px; /* Rounded corners */
    background-color: #f0f0f0; /* Background color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for a 3D effect */
    cursor: pointer; /* Cursor change on hover */
    transition: background-color 0.3s; /* Smooth transition for background color change */
}