* {
    background-color: #778899;
}

.calculator-container{
    background-color: transparent;
    width: 500px;
    height: 520px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid black;
    border-bottom: 20px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* Adding the shadow */

}

.display {
    height: 150px;
    background-color: white;
    border: 2px solid black;
}

.display-digits {
    text-align: right;
    font-weight: bolder;
    font-size: 80px;
    margin-right: 10px;
    display: flex;
    background-color: white;
    flex-direction: row-reverse;
}
.A {
    background: lightgoldenrodyellow;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 70px;   
}


.btn {
    flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 35px;
    border: 2px solid #000; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.btn:hover {
    background-color: #85c9db; 
    border-color: #888; 
}

#button-clear{
    background-color: grey;
}

#button-divide , #button-mult , #button-plus, #button-minus {
    background-color: #FFCC99;
}

#button-equal {
    background-color:  #FF9933;
}

.highlighted {
    background-color: #85c9db !important; 
    border: 2px solid #000; 
}